.shopping-list-field {
    background-color:  whitesmoke;
}

.form-group {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-group label {
    margin-right: 10px;    
}

#quantity {
    max-width: 4rem;
    min-width: 1rem;
}

#item {
    min-width: 10rem;
}