body {
    background-color: lightyellow;
}

.shopping-item-li {
    margin: 1rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 2rem;
    background-color: #ccc;
    list-style: none;
    box-shadow: 2px 2px 4px black;
}

.shopping-list-container {
    background-color: rgb(0, 0, 255, 15%);
    margin: 1rem;
    padding: 1rem;
    min-width: 250px;
}