.dropdown-item:hover {
    background-color: rgb(0, 0, 255, 20%);
    font-style: oblique;
}

.page-select-menu {
    display: inline-flex;
    flex-wrap: flex;
    flex-direction: row;
    align-items: center;
}

.prev-next-btn {
    min-width: 120px;
}

/* vertical menu styles */
@media (max-width: 600px) { 
    .page-select-menu { 
       flex-direction: column;
       padding: 2rem;
       margin: 0.5rem;
    }
}